* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
}
body {
    font-size: 100% /* Устанавливаем базовый размер шрифта для всего документа */
}
h1 {
    font-family: "Denk One, sans-serif";
    font-size: xx-large; /* Устанавливаем относительно базового размера шрифта */
}
h2 {
    font-size: x-large;
}
.important {
    font-size: larger;
}
.onePointTwo {
    font-size: 1.2em /* устанавливает шрифт в 1.2 раза больше базового размера */
}
main {
    background: lightgray;
}

nav {
    background: darkgrey;
    float: left;
    margin: 7px;
}
footer {
    background: rgb(185, 138, 146);
    clear: both;
}
=======
    border: 0;
}
body {
    background-color: rgb(194, 189, 189);
}
>>>>>>> 1eaab89f5a6e64e49add9b3267aaf506e2c02393
