/* Здесь находится стиль для элемента body */
body {
    /* Устанавливаем светло-голубой цвет фона */
    background: lightcyan;
    /* Устанавливаем красный цвет для элементов */
    color: #ff0000;
    /* Устанавливаем ширину body 800 пикселов */
    width: 800px;
    margin: auto;
    }
    h1 {
    background: black;        
    color: white;
    text-align: center;
    }
    .first {
    color: red;
    margin: 10px;
    padding: 20px;
    }
    span {
        color: chartreuse;
    }
    a {
        color: cornflowerblue;
        /* Убираем подчёркиваение по умолчанию */
        text-decoration: none;
    }
    a:visited {
        color: tomato;
    }
    a:hover {
        color: black;
        text-decoration: underline;
    }