body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: #f9e933;
    margin: 0;
	padding: 0;
	border: 0;  
}
header, main, footer {
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
    font-size: 100%;
}
header {
    background: white;
    overflow: auto;
}
h1, h2, h3, h5 {
    font-family:'Ubuntu', sans-serif;
}
h1 {
    float: left;
    width: 570px; 
    font-size: xxx-large;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
}
header nav {
    float: right;
    width: 285px;
}
main {
    background: white;
    overflow: auto; 
}
main .left {
    float: left;
    width: 570px;
}
main .right {
    float: right;
    width: 285px;
} 
footer .left {
    float: left;
    width: 570px;
}
footer .sitemap {
    float: left;
    width: 285px;
}

